@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::backdrop {
		--backdrop: 0 0% 0%;
		/* black */
	}

	:root {
		/* Sizes */
		--2xs: 2px;
		--xs: 6px;
		--sm: 10px;
		--md: 16px;
		--lg: 20px;
		--xl: 40px;
		--2xl: 100px;

		/* Article */
		--article-width: 650px;
		--article-padding: 40px;

		/* Badges */
		--badge-gap: 4px;
		--badge-padding-x: var(--xs);
		--badge-padding-y: var(--2xs);
		--badge-font: var(--sans);
		--badge-weight: 600;
		--badge-style: normal;
		--badge-size: 12px;
		--badge-leading: 1.25rem;
		--badge-case: none;
		--badge-border-width: 0;
		--badge-border-style: solid;
		--badge-radius: var(--xs);
		--badge-shadow: none;

		/* Buttons */
		--button-height: 40px;
		--button-height-mobile: 50px;
		--button-padding: 16px;
		--button-gap: 10px;
		--button-scale-hover: 100%;
		--button-scale-focus: 98%;
		--button-font: var(--sans);
		--button-weight: 600;
		--button-style: normal;
		--button-size: 16px;
		--button-inline-icon-size: 16px;
		--button-solo-icon-size: 20px;
		--button-case: none;
		--button-border-width: 0;
		--button-border-style: solid;
		--button-radius: 20px;
		--button-shadow: none;
		--button-cursor: pointer;

		/* Callout */
		--callout-gap: var(--md);
		--callout-padding: var(--md);
		--callout-font: var(--sans);
		--callout-weight: normal;
		--callout-style: normal;
		--callout-size: 16px;
		--callout-icon-size: 25px;
		--callout-leading: 1.6;
		--callout-border-width: 1px;
		--callout-radius: var(--sm);
		--callout-shadow: none;

		/* Caption Text */
		--caption-spacing: 0.5em;
		--caption-font: var(--sans);
		--caption-weight: normal;
		--caption-style: normal;
		--caption-size: 13px;
		--caption-leading: 1.4;
		--caption-align: middle;

		/* Code Text (Inline Code Snippet) */
		--code-padding-x: var(--xs);
		--code-padding-y: var(--2xs);
		--code-font: var(--mono);
		--code-weight: 600;
		--code-style: normal;
		--code-size: small;
		--code-leading: 1.4;
		--code-border-width: 1px;
		--code-radius: var(--xs);
		--code-shadow: none;

		/* Disabled */
		--disabled-opacity: 50%;

		/* Dividers */
		--divider-weight: normal;
		--divider-size: 13px;

		/* Dropdowns */
		--dropdown-min-width: 160px;
		--dropdown-border-width: 0;
		--dropdown-gap: 10px;
		--dropdown-padding: 0;
		--dropdown-offset: 4px;
		--dropdown-radius: 16px;
		--dropdown-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
		--dropdown-divider-space: 0;
		--dropdown-option-gap: 16px;
		--dropdown-option-height: 40px;
		--dropdown-option-padding: 16px;
		--dropdown-option-radius: 0;
		--dropdown-option-font: var(--sans);
		--dropdown-option-weight: 400;
		--dropdown-option-style: normal;
		--dropdown-option-size: 14px;
		--dropdown-option-icon-size: 14px;
		--dropdown-option-case: none;
		--dropdown-option-cursor: pointer;

		/* Heading 1 Text (Main Title) */
		--h1-font: var(--sans);
		--h1-weight: 700;
		--h1-style: normal;
		--h1-size: clamp(2rem,9vw,4rem);
		--h1-leading: 1;
		--h1-kerning: -0.025em;
		--h1-case: none;

		/* Heading 2 Text (Section Title) */
		--h2-font: var(--sans);
		--h2-weight: 700;
		--h2-style: normal;
		--h2-size: 2rem;
		--h2-leading: 1;
		--h2-kerning: -0.025em;
		--h2-case: none;

		/* Heading 3 Text (Subsection Title) */
		--h3-font: var(--sans);
		--h3-weight: 700;
		--h3-style: normal;
		--h3-size: 1.5rem;
		--h3-leading: 1.4;
		--h3-kerning: -0.025em;
		--h3-case: none;

		/* Heading 4 Text (Body Title) */
		--h4-font: var(--sans);
		--h4-weight: 500;
		--h4-style: normal;
		--h4-size: medium;
		--h4-leading: 1.5;
		--h4-kerning: 0;
		--h4-case: none;

		/* Heading 5 Text (Byline Title) */
		--h5-font: var(--sans);
		--h5-weight: 300;
		--h5-style: normal;
		--h5-size: 1.75rem;
		--h5-leading: 1.2;
		--h5-kerning: 0;
		--h5-case: none;

		/* Heading 6 Text (Lead-In Title) */
		--h6-font: var(--sans);
		--h6-weight: 600;
		--h6-style: normal;
		--h6-size: medium;
		--h6-leading: 1.4;
		--h6-kerning: 0;
		--h6-case: none;

		/* Focus */
		--focus-outline-width: 2px;
		--focus-outline-style: solid;
		--focus-outline-offset: 1px;

		/* Fonts */
		--sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--serf: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
		--mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

		/* Image */
		--image-radius: 6px;
		--image-shadow: none;

		/* Input */
		--input-padding: 16px;
		--input-gap: 10px;
		--input-scale-hover: 100%;
		--input-scale-focus: 100%;
		--input-font: var(--sans);
		--input-weight: normal;
		--input-style: normal;
		--input-size: 16px;
		--input-icon-size: 16px;
		--input-leading: 1.4;
		--input-case: none;
		--input-border-width: 1px;
		--input-border-bottom-width: 1px;
		--input-border-style: solid;
		--input-radius: 20px;
		--input-shadow: none;
		--input-cursor: text;
		--input-selection: var(--primary-text);
		--input-selection-opacity: 0.2;

		/* Input (Text Field) */
		--input-height: 40px;
		--input-floating-height: 50px;
		--input-height-mobile: 50px;

		/* Input (Text Area) */
		--textarea-min-height: 150px;

		/* Keyboard Text */
		--kbd-min-width: 1.8rem;
		--kbd-spacing: 3px;
		--kbd-padding: var(--xs);
		--kbd-border-width: 1px;
		--kbd-radius: var(--xs);
		--kbd-shadow: none;
		--kbd-font: var(--sans);
		--kbd-style: normal;
		--kbd-weight: 600;
		--kbd-size: small;
		--kbd-leading: 1;

		/* Label */
		--label-font: var(--sans);
		--label-weight: normal;
		--label-style: normal;
		--label-size: 15px;
		--label-leading: 1.4;
		--label-decoration: none;
		--label-decoration-hover: none;
		
		/* Link (Inline) */
		--a-weight: bolder;
		--a-style: normal;
		--a-size: medium;
		--a-underline-offset: 5px;
		--a-decoration: underline;
		--a-decoration-hover: underline;
		--a-decoration-thickness: 1px;
		--a-decoration-thickness-hover: 2px;
		
		/* Link (Standalone) */
		--link-font: var(--sans);
		--link-weight: 600;
		--link-style: normal;
		--link-size: medium;
		--link-leading: 1.4;
		--link-underline-offset: 5px;
		--link-decoration: none;
		--link-decoration-hover: underline;
		--link-decoration-thickness: 2px;
		--link-decoration-thickness-hover: 2px;

		/* Link (Header) */
		--link-header-font: var(--sans);
		--link-header-weight: normal;
		--link-header-style: normal;
		--link-header-size: medium;
		--link-header-leading: 1.4;
		--link-header-underline-offset: 0;
		--link-header-decoration: none;
		--link-header-decoration-hover: none;

		/* Link (Footer) */
		--link-footer-font: var(--sans);
		--link-footer-weight: normal;
		--link-footer-style: normal;
		--link-footer-size: medium;
		--link-footer-leading: 1.4;
		--link-footer-underline-offset: 0;
		--link-footer-decoration: none;
		--link-footer-decoration-hover: none;

		/* Modals */
		--modal-width: 500px;
		--modal-min-height: 200px;
		--modal-radius: 20px;
		--modal-shadow: var(--shadow-xl);

		/* Page */
		--page-width: 1000px;
		--page-margin: 40px;

		/* Paragraph Text (Body Text) */
		--p-font: var(--sans);
		--p-weight: normal;
		--p-style: normal;
		--p-size: medium;
		--p-leading: 1.4;
		--p-decoration: none;

		/* Preformatted Text (Code Block) */
		--pre-padding-x: var(--lg);
		--pre-padding-y: var(--md);
		--pre-font: var(--mono);
		--pre-weight: normal;
		--pre-style: normal;
		--pre-size: 13px;
		--pre-leading: 1.8;
		--pre-border-width: 1px;
		--pre-radius: var(--sm);
		--pre-shadow: none;

		/* Quote Text */
		--quote-padding-x: var(--md);
		--quote-padding-y: 0;
		--quote-font: var(--sans);
		--quote-weight: 500;
		--quote-style: italic;
		--quote-size: 1.125rem;
		--quote-leading: 1.7;
		--quote-border-left-width: 0.25rem;
		--quote-border-right-width: 0;
		--quote-border-top-width: 0;
		--quote-border-bottom-width: 0;
		--quote-radius: 0;
		--quote-shadow: none;

		/* Shadows */
		--shadow-sm: 0 0 2px 0 rgb(0 0 0 / 0.05);
		--shadow: 0 0 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
		--shadow-md: 0 0 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
		--shadow-lg: 0 0 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
		--shadow-xl: 0 0 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
		--shadow-2xl: 0 0 50px -12px rgb(0 0 0 / 0.25);
		--shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

		/* Small Text */
		--small-font: var(--sans);
		--small-weight: normal;
		--small-style: normal;
		--small-size: 14px;
		--small-leading: 1.4;

		/* Stacking Order */
		--stack-basic: 10;
		--stack-nav: 20;
		--stack-toolbar: 30;
		--stack-popover: 40;
		--stack-dropdown: 50;
		--stack-floating-button: 60;
		--stack-backdrop: 70;
		--stack-modal: 80;
		--stack-toast: 90;
		--stack-loading: 100;

		/* Switch */
		--switch-height: 25px;
		--switch-padding: 2px;
		--switch-scale-hover: 100%;
		--switch-scale-focus: 100%;
		--switch-radius: 200px;
		--switch-border-width: 1px;
		--switch-border-style: solid;
		--switch-shadow: none;
		--switch-cursor: pointer;
		--switch-marker-radius: 50%;
		--switch-marker-shadow: var(--shadow);

		/* Table */
		--table-border-width: 1px;
		--table-cell-gap: 4px;
		--table-cell-padding-x: var(--md);
		--table-cell-padding-y: var(--sm);
		--table-cell-font: var(--sans);
		--table-cell-weight: normal;
		--table-cell-style: normal;
		--table-cell-size: 14px;
		--table-cell-case: none;
		--table-header-cell-gap: 4px;
		--table-header-cell-padding-x: var(--md);
		--table-header-cell-padding-y: var(--sm);
		--table-header-font: var(--sans);
		--table-header-weight: 500;
		--table-header-style: normal;
		--table-header-size: 12px;
		--table-header-case: uppercase;
		--table-radius: var(--xs);
		--table-shadow: none;

		/* Tooltip */
		--tooltip-font: -sans;
		--tooltip-size: 13px;
		--tooltip-weight: normal;
		--tooltip-leading: 1.4;
		--tooltip-kerning: 0;
		--tooltip-radius: var(--sm);
		--tooltip-shadow: var(--shadow);
		--tooltip-max-width: 150px;

		/*** Transition ***/
		--transition-time: 0.1s;
		--transition: all var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);

		/* Video */
		--video-radius: 10px;
		--video-shadow: var(--shadow-md);


		/*** COLOR THEMES ***/
		/* OS or browser prefers light theme */
		color-scheme: light;
		--bg1: 240 4.8% 95.9%; /* zinc-100 */
		--bg2: 240 5.9% 90%; /* zinc-200 */
		--bg3: 240 4% 87%; /* zinc-250 (custom) */
		--backdrop: 0 0% 0%; /* black */
		--button: 240 5.9% 90%; /* zinc-200 */
		--button-hover: 240 4% 87%; /* zinc-250 (custom) */
		--button-focus: 240 4.9% 83.9%; /* zinc-300 */
		--button-inverse: 240 5.3% 26.1%; /* zinc-700 */
		--button-inverse-hover: 240 5.9% 10%; /* zinc-900 */
		--button-inverse-focus: 0 0% 0%; /* black */
		--button-border: transparent;
		--button-border-hover: transparent;
		--button-border-focus: transparent;
		--callout-text: 240 5.9% 10%; /* zinc-900 */
		--callout-bg: var(--bg1);
		--callout-border: var(--bg2);
		--chip: 0 0% 100%; /* white */
		--chip-text: var(--text-soft);
		--contrast: 240 3.7% 15.9%; /* zinc-800 */
		--contrast-hover: 240 5.9% 10%; /* zinc-900 */
		--contrast-focus: 0 0% 0%; /* black */
		--contrast-inverse: 0 0% 100%; /* white */
		--contrast-inverse-hover: 0 0% 100%; /* white */
		--contrast-inverse-focus: 0 0% 100%; /* white */
		--danger: 0 93.5% 81.8%; /* red-300 */
		--danger-hover: 0 92% 76%; /* red-350 (custom) */
		--danger-focus: 0 90.6% 70.8%; /* red-400 */
		--danger-inverse: 0 62.8% 30.6%; /* red-900 */
		--danger-inverse-hover: 0 62.8% 30.6%; /* red-900 */
		--danger-inverse-focus: 0 62.8% 30.6%; /* red-900 */
		--danger-text: 0 72.2% 50.6%; /* red-600 */
		--divider: 240 5.9% 90%; /* zinc-200 */
		--dropdown: 0 0% 100%; /* white */
		--dropdown-border: 0 0% 100%; /* white */
		--dropdown-divider: 240 5.9% 90%; /* zinc-200 */
		--dropdown-option-hover: 240 4.8% 95.9%; /* zinc-100 */
		--dropdown-option-focus: 240 5.9% 90%; /* zinc-200 */
		--dropdown-option-group: var(--text-faint);
		--dropdown-option-text: var(--text-solid);
		--dropdown-option-text-hover: var(--text-solid-link);
		--dropdown-option-text-focus: var(--text-solid-link-hover);
		--dropdown-option-trailing-symbol: var(--text-faint);
		--focus-outline: 240 5.9% 90%; /* zinc-200 */
		--input: 240 5.9% 90%; /* zinc-200 */
		--input-hover: 240 4% 87%; /* zinc-250 (custom) */
		--input-focus: 240 4.9% 83.9%; /* zinc-300 */
		--input-placeholder: var(--text-faint);
		--input-border: transparent;
		--input-border-hover: transparent;
		--input-border-focus: transparent;
		--input-value: 240 5.3% 26.1%; /* zinc-700 */
		--modal: 0 0% 98%; /* zinc-50 */
		--modal-divider: 240 5.9% 90%; /* zinc-200 */
		--page: 0 0% 100%; /* white */
		--primary: 142 77% 73%; /* green-300 */
		--primary-hover: 141.9 69.2% 58%; /* green-400 */
		--primary-focus: 158.1 64.4% 51.6%; /* emerald-400 */
		--primary-inverse: 142.8 64.2% 24.1%; /* green-800 */
		--primary-inverse-hover: 143.8 61.2% 20.2%; /* green-900 */
		--primary-inverse-focus: 143.8 61.2% 20.2%; /* green-900 */
		--primary-text: 142.1 76.2% 36.3%; /* green-600 */
		--secondary: 50.4 97.8% 63.5%; /* yellow-300 */
		--secondary-hover: 47.9 95.8% 53.1%; /* yellow-400 */
		--secondary-focus: 43.3 96.4% 56.3%; /* amber-400 */
		--secondary-inverse: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-inverse-hover: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-inverse-focus: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-text: 41 96% 40%; /* yellow-600 */
		--switch-off: 240 5.9% 90%; /* zinc-200 */
		--switch-off-hover: 240 4% 87%; /* zinc-250 (custom) */
		--switch-off-focus: 240 4.9% 83.9%; /* zinc-300 */
		--switch-on: var(--primary);
		--switch-on-hover: var(--primary-hover);
		--switch-on-focus: var(--primary-focus);
		--switch-border: transparent;
		--switch-border-hover: transparent;
		--switch-border-focus: transparent;
		--switch-marker-off: 0 0% 100%; /* white */
		--switch-marker-off-hover: 0 0% 100%; /* white */
		--switch-marker-off-focus: 0 0% 100%; /* white */
		--switch-marker-on: 0 0% 100%; /* white */
		--switch-marker-on-hover: 0 0% 100%; /* white */
		--switch-marker-on-focus: 0 0% 100%; /* white */
		--table: transparent;
		--table-border: var(--divider);
		--table-header-text: 240 5.2% 33.9%; /* zinc-600 */
		--table-header-row: var(--bg1);
		--table-header-divider: var(--divider);
		--table-header: var(--bg1);
		--table-row-even: transparent;
		--table-row-odd: transparent;
		--table-row-divider: var(--divider);
		--table-text: 240 5.9% 10%; /* zinc-900 */
		--text-solid: 240 3.7% 15.9%; /* zinc-800 */
		--text-solid-link: 240 3.7% 15.9%; /* zinc-800 */
		--text-solid-link-hover: 0 0% 0%; /* black */
		--text-soft: 240 5.2% 33.9%; /* zinc-600 */
		--text-soft-link: 240 5.9% 10%; /* zinc-900 */
		--text-soft-link-hover: 240 5.3% 26.1%; /* zinc-700 */
		--text-faint: 240 3.8% 46.1%; /* zinc-500 */
		--text-faint-link: 240 5.3% 26.1%; /* zinc-700 */
		--text-faint-link-hover: 240 5.9% 10%; /* zinc-900 */
		--tooltip: var(--bg3);

		/* Text Colours */
		--h1: 240 5.9% 10%; /* zinc-900 */
		--h2: 240 5.9% 10%; /* zinc-900 */
		--h3: 240 5.9% 10%; /* zinc-900 */
		--h4: 240 5.9% 10%; /* zinc-900 */
		--h5: 240 5.2% 33.9%; /* zinc-600 */
		--h6: 240 5.9% 10%; /* zinc-900 */
		--p: 240 5.3% 26.1%; /* zinc-700 */
		--b: 240 5.9% 10%; /* zinc-900 */
		--a: 240 5.9% 10%; /* zinc-900 */
		--a-hover: 240 5.9% 10%; /* zinc-900 */
		--a-decoration-color: var(--primary-text);
		--a-decoration-color-hover: var(--primary-text);
		--link: 240 5.9% 10%; /* zinc-900 */
		--link-hover: 240 5.9% 10%; /* zinc-900 */
		--link-decoration-color: var(--primary-text);
		--link-decoration-color-hover: var(--primary-text);
		--link-header: 240 5.2% 33.9%; /* zinc-600 */
		--link-header-hover: 240 5.9% 10%; /* zinc-900 */
		--link-header-decoration-color: var(--primary-text);
		--link-header-decoration-color-hover: var(--primary-text);
		--link-footer: 240 5.2% 33.9%; /* zinc-600 */
		--link-footer-hover: 240 5.9% 10%; /* zinc-900 */
		--link-footer-decoration-color: transparent;
		--link-footer-decoration-color-hover: var(--primary-text);
		--small: 240 5.2% 33.9%; /* zinc-600 */
		--caption: 240 3.8% 46.1%; /* zinc-500 */
		--label: 240 5.2% 33.9%; /* zinc-600 */
		--counter: 240 3.8% 46.1%; /* zinc-500 */
		--bullet: 240 3.8% 46.1%; /* zinc-500 */
		--quote: 240 5.9% 10%; /* zinc-900 */
		--quote-border: 240 5.9% 90%; /* zinc-200 */
		--kbd-bg: var(--bg2);
		--kbd-text: 240 5.9% 10%; /* zinc-900 */
		--kbd-border: var(--bg3);
		--pre-text: 240 5.9% 10%; /* zinc-900 */
		--pre-bg: var(--bg1);
		--pre-border: var(--bg2);
		--code-bg: var(--bg3);
		--code-text: 240 5.9% 10%; /* zinc-900 */
		--code-border: transparent;
	}

	/* User toggles light theme */
	[data-theme="light"] {
		color-scheme: light;
		--bg1: 240 4.8% 95.9%; /* zinc-100 */
		--bg2: 240 5.9% 90%; /* zinc-200 */
		--bg3: 240 4% 87%; /* zinc-250 (custom) */
		--backdrop: 0 0% 0%; /* black */
		--button: 240 5.9% 90%; /* zinc-200 */
		--button-hover: 240 4% 87%; /* zinc-250 (custom) */
		--button-focus: 240 4.9% 83.9%; /* zinc-300 */
		--button-inverse: 240 5.3% 26.1%; /* zinc-700 */
		--button-inverse-hover: 240 5.9% 10%; /* zinc-900 */
		--button-inverse-focus: 0 0% 0%; /* black */
		--button-border: transparent;
		--button-border-hover: transparent;
		--button-border-focus: transparent;
		--callout-text: 240 5.9% 10%; /* zinc-900 */
		--callout-bg: var(--bg1);
		--callout-border: var(--bg2);
		--chip: 0 0% 100%; /* white */
		--chip-text: var(--text-soft);
		--contrast: 240 3.7% 15.9%; /* zinc-800 */
		--contrast-hover: 240 5.9% 10%; /* zinc-900 */
		--contrast-focus: 0 0% 0%; /* black */
		--contrast-inverse: 0 0% 100%; /* white */
		--contrast-inverse-hover: 0 0% 100%; /* white */
		--contrast-inverse-focus: 0 0% 100%; /* white */
		--danger: 0 93.5% 81.8%; /* red-300 */
		--danger-hover: 0 92% 76%; /* red-350 (custom) */
		--danger-focus: 0 90.6% 70.8%; /* red-400 */
		--danger-inverse: 0 62.8% 30.6%; /* red-900 */
		--danger-inverse-hover: 0 62.8% 30.6%; /* red-900 */
		--danger-inverse-focus: 0 62.8% 30.6%; /* red-900 */
		--danger-text: 0 72.2% 50.6%; /* red-600 */
		--divider: 240 5.9% 90%; /* zinc-200 */
		--dropdown: 0 0% 100%; /* white */
		--dropdown-border: 0 0% 100%; /* white */
		--dropdown-divider: 240 5.9% 90%; /* zinc-200 */
		--dropdown-option-hover: 240 4.8% 95.9%; /* zinc-100 */
		--dropdown-option-focus: 240 5.9% 90%; /* zinc-200 */
		--dropdown-option-group: var(--text-faint);
		--dropdown-option-text: var(--text-solid);
		--dropdown-option-text-hover: var(--text-solid-link);
		--dropdown-option-text-focus: var(--text-solid-link-hover);
		--dropdown-option-trailing-symbol: var(--text-faint);
		--focus-outline: 240 5.9% 90%; /* zinc-200 */
		--input: 240 5.9% 90%; /* zinc-200 */
		--input-hover: 240 4% 87%; /* zinc-250 (custom) */
		--input-focus: 240 4.9% 83.9%; /* zinc-300 */
		--input-placeholder: var(--text-faint);
		--input-border: transparent;
		--input-border-hover: transparent;
		--input-border-focus: transparent;
		--input-value: 240 5.3% 26.1%; /* zinc-700 */
		--modal: 0 0% 98%; /* zinc-50 */
		--modal-divider: 240 5.9% 90%; /* zinc-200 */
		--page: 0 0% 100%; /* white */
		--primary: 142 77% 73%; /* green-300 */
		--primary-hover: 141.9 69.2% 58%; /* green-400 */
		--primary-focus: 158.1 64.4% 51.6%; /* emerald-400 */
		--primary-inverse: 142.8 64.2% 24.1%; /* green-800 */
		--primary-inverse-hover: 143.8 61.2% 20.2%; /* green-900 */
		--primary-inverse-focus: 143.8 61.2% 20.2%; /* green-900 */
		--primary-text: 142.1 76.2% 36.3%; /* green-600 */
		--secondary: 50.4 97.8% 63.5%; /* yellow-300 */
		--secondary-hover: 47.9 95.8% 53.1%; /* yellow-400 */
		--secondary-focus: 43.3 96.4% 56.3%; /* amber-400 */
		--secondary-inverse: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-inverse-hover: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-inverse-focus: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-text: 41 96% 40%; /* yellow-600 */
		--switch-off: 240 5.9% 90%; /* zinc-200 */
		--switch-off-hover: 240 4% 87%; /* zinc-250 (custom) */
		--switch-off-focus: 240 4.9% 83.9%; /* zinc-300 */
		--switch-on: var(--primary);
		--switch-on-hover: var(--primary-hover);
		--switch-on-focus: var(--primary-focus);
		--switch-border: transparent;
		--switch-border-hover: transparent;
		--switch-border-focus: transparent;
		--switch-marker-off: 0 0% 100%; /* white */
		--switch-marker-off-hover: 0 0% 100%; /* white */
		--switch-marker-off-focus: 0 0% 100%; /* white */
		--switch-marker-on: 0 0% 100%; /* white */
		--switch-marker-on-hover: 0 0% 100%; /* white */
		--switch-marker-on-focus: 0 0% 100%; /* white */
		--table: transparent;
		--table-border: var(--divider);
		--table-header-text: 240 5.2% 33.9%; /* zinc-600 */
		--table-header-row: var(--bg1);
		--table-header-divider: var(--divider);
		--table-header: var(--bg1);
		--table-row-even: transparent;
		--table-row-odd: transparent;
		--table-row-divider: var(--divider);
		--table-text: 240 5.9% 10%; /* zinc-900 */
		--text-solid: 240 3.7% 15.9%; /* zinc-800 */
		--text-solid-link: 240 3.7% 15.9%; /* zinc-800 */
		--text-solid-link-hover: 0 0% 0%; /* black */
		--text-soft: 240 5.2% 33.9%; /* zinc-600 */
		--text-soft-link: 240 5.9% 10%; /* zinc-900 */
		--text-soft-link-hover: 240 5.3% 26.1%; /* zinc-700 */
		--text-faint: 240 3.8% 46.1%; /* zinc-500 */
		--text-faint-link: 240 5.3% 26.1%; /* zinc-700 */
		--text-faint-link-hover: 240 5.9% 10%; /* zinc-900 */
		--tooltip: var(--bg3);

		/* Text Colours */
		--h1: 240 5.9% 10%; /* zinc-900 */
		--h2: 240 5.9% 10%; /* zinc-900 */
		--h3: 240 5.9% 10%; /* zinc-900 */
		--h4: 240 5.9% 10%; /* zinc-900 */
		--h5: 240 5.2% 33.9%; /* zinc-600 */
		--h6: 240 5.9% 10%; /* zinc-900 */
		--p: 240 5.3% 26.1%; /* zinc-700 */
		--b: 240 5.9% 10%; /* zinc-900 */
		--a: 240 5.9% 10%; /* zinc-900 */
		--a-hover: 240 5.9% 10%; /* zinc-900 */
		--a-decoration-color: var(--primary-text);
		--a-decoration-color-hover: var(--primary-text);
		--link: 240 5.9% 10%; /* zinc-900 */
		--link-hover: 240 5.9% 10%; /* zinc-900 */
		--link-decoration-color: var(--primary-text);
		--link-decoration-color-hover: var(--primary-text);
		--link-header: 240 5.2% 33.9%; /* zinc-600 */
		--link-header-hover: 240 5.9% 10%; /* zinc-900 */
		--link-header-decoration-color: var(--primary-text);
		--link-header-decoration-color-hover: var(--primary-text);
		--link-footer: 240 5.2% 33.9%; /* zinc-600 */
		--link-footer-hover: 240 5.9% 10%; /* zinc-900 */
		--link-footer-decoration-color: transparent;
		--link-footer-decoration-color-hover: var(--primary-text);
		--small: 240 5.2% 33.9%; /* zinc-600 */
		--caption: 240 3.8% 46.1%; /* zinc-500 */
		--label: 240 5.2% 33.9%; /* zinc-600 */
		--counter: 240 3.8% 46.1%; /* zinc-500 */
		--bullet: 240 3.8% 46.1%; /* zinc-500 */
		--quote: 240 5.9% 10%; /* zinc-900 */
		--quote-border: 240 5.9% 90%; /* zinc-200 */
		--kbd-bg: var(--bg2);
		--kbd-text: 240 5.9% 10%; /* zinc-900 */
		--kbd-border: var(--bg3);
		--pre-text: 240 5.9% 10%; /* zinc-900 */
		--pre-bg: var(--bg1);
		--pre-border: var(--bg2);
		--code-bg: var(--bg3);
		--code-text: 240 5.9% 10%; /* zinc-900 */
		--code-border: transparent;
	}

	/* OS or browser prefers dark theme */
	@media (prefers-color-scheme: dark) {

		:root,
		::backdrop {
			color-scheme: dark;
			--bg1: 240 5.9% 10%; /* zinc-900 */
			--bg2: 240 3.7% 15.9%; /* zinc-800 */
			--bg3: 240 5.3% 26.1%; /* zinc-700 */
			--button: 240 5.2% 33.9%; /* zinc-600 */
			--button-hover: 240 4% 40%; /* zinc-550 (custom) */
			--button-focus: 240 4% 40%; /* zinc-550 (custom) */
			--button-inverse: 0 0% 98%; /* zinc-50 */
			--button-inverse-hover: 0 0% 98%; /* zinc-50 */
			--button-inverse-focus: 0 0% 98%; /* zinc-50 */
			--button-border: transparent;
			--button-border-hover: transparent;
			--button-border-focus: transparent;
			--chip: 240 3.8% 46.1%; /* zinc-500 */
			--chip-text: var(--text-soft);
			--contrast: 0 0% 98%; /* zinc-50 */
			--contrast-hover: 240 4.8% 95.9%; /* zinc-100 */
			--contrast-focus: 240 5.9% 90%; /* zinc-200 */
			--contrast-inverse: 0 0% 0%; /* black */
			--contrast-inverse-hover: 0 0% 0%; /* black */
			--contrast-inverse-focus: 0 0% 0%; /* black */
			--callout-text: 240 4.9% 83.9%; /* zinc-300 */
			--callout-bg: var(--bg1);
			--callout-border: var(--bg2);
			--danger: 0 93.5% 81.8%; /* red-300 */
			--danger-hover: 0 92% 76%; /* red-350 (custom) */
			--danger-focus: 0 90.6% 70.8%; /* red-400 */
			--danger-inverse: 0 62.8% 30.6%; /* red-900 */
			--danger-inverse-hover: 0 62.8% 30.6%; /* red-900 */
			--danger-inverse-focus: 0 62.8% 30.6%; /* red-900 */
			--danger-text: 0 93.5% 81.8%; /* red-300 */
			--divider: 240 5.3% 26.1%; /* zinc-700 */
			--dropdown: 240 5.3% 26.1%; /* zinc-700 */
			--dropdown-border: 240 5.3% 26.1%; /* zinc-700 */
			--dropdown-divider: 240 3.8% 46.1%; /* zinc-500 */
			--dropdown-option-hover: 240 5.2% 33.9%; /* zinc-600 */
			--dropdown-option-focus: 240 3.8% 46.1%; /* zinc-500 */
			--dropdown-option-group: var(--text-faint);
			--dropdown-option-text: var(--text-solid);
			--dropdown-option-text-hover: var(--text-solid-link);
			--dropdown-option-text-focus: var(--text-solid-link-hover);
			--dropdown-option-trailing-symbol: var(--text-faint);
			--focus-outline: 240 5% 30%; /* zinc-650 (custom) */
			--input: 240 5.2% 33.9%; /* zinc-600 */
			--input-hover: 240 4% 40%; /* zinc-550 (custom) */
			--input-focus: 240 4% 40%; /* zinc-550 (custom) */
			--input-placeholder: var(--text-faint);
			--input-value: 0 0% 98%; /* zinc-50 */
			--input-border: transparent;
			--input-border-hover: transparent;
			--input-border-focus: transparent;
			--modal: 240 5.3% 26.1%; /* zinc-700 */
			--modal-divider: 240 5.2% 33.9%; /* zinc-600 */
			--page: 240 10% 3.9%; /* zinc-950 */
			--primary: 142 77% 73%; /* green-300 */
			--primary-hover: 141.9 69.2% 58%; /* green-400 */
			--primary-focus: 158.1 64.4% 51.6%; /* emerald-400 */
			--primary-inverse: 142.8 64.2% 24.1%; /* green-800 */
			--primary-inverse-hover: 143.8 61.2% 20.2%; /* green-900 */
			--primary-inverse-focus: 143.8 61.2% 20.2%; /* green-900 */
			--primary-text: 142 77% 73%; /* green-300 */
			--secondary: 52.8 98.3% 76.9%; /* yellow-200 */
			--secondary-hover: 50.4 97.8% 63.5%; /* yellow-300 */
			--secondary-focus: 47.9 95.8% 53.1%; /* yellow-400 */
			--secondary-inverse: 28.4 72.5% 25.7%; /* yellow-900 */
			--secondary-inverse-hover: 28.4 72.5% 25.7%; /* yellow-900 */
			--secondary-inverse-focus: 28.4 72.5% 25.7%; /* yellow-900 */
			--secondary-text: 50.4 97.8% 63.5%; /* yellow-300 */
			--switch-off: 240 5.2% 33.9%; /* zinc-600 */
			--switch-off-hover: 240 4% 40%; /* zinc-550 (custom) */
			--switch-off-focus: 240 4% 40%; /* zinc-550 (custom) */
			--switch-on: var(--primary);
			--switch-on-hover: var(--primary-hover);
			--switch-on-focus: var(--primary-focus);
			--switch-border: transparent;
			--switch-border-hover: transparent;
			--switch-border-focus: transparent;
			--switch-marker-off: 240 5.9% 90%; /* zinc-200 */
			--switch-marker-off-hover: 240 5.9% 90%; /* zinc-200 */
			--switch-marker-off-focus: 240 5.9% 90%; /* zinc-200 */
			--switch-marker-on: 0 0% 100%; /* white */
			--switch-marker-on-hover: 0 0% 100%; /* white */
			--switch-marker-on-focus: 0 0% 100%; /* white */
			--table: transparent;
			--table-border: var(--divider);
			--table-header-text: 240 5% 64.9%; /* zinc-400 */
			--table-header-row: var(--bg1);
			--table-header-divider: var(--divider);
			--table-header: var(--bg1);
			--table-row-even: transparent;
			--table-row-odd: transparent;
			--table-row-divider: var(--divider);
			--table-text: 0 0% 100%; /* white */;
			--text-solid: 0 0% 98%; /* zinc-50 */
			--text-solid-link: 240 4.9% 83.9%; /* zinc-300 */
			--text-solid-link-hover: 0 0% 100%; /* white */
			--text-soft: 240 4.9% 83.9%; /* zinc-300 */
			--text-soft-link: 0 0% 98%; /* zinc-50 */
			--text-soft-link-hover: 0 0% 100%; /* white */
			--text-faint: 240 5% 64.9%; /* zinc-400 */
			--text-faint-link: 240 5.9% 90%; /* zinc-200 */
			--text-faint-link-hover: 0 0% 98%; /* zinc-50 */
			--tooltip: var(--bg3);

			/* Text Colors */
			--h1: 0 0% 100%; /* white */
			--h2: 0 0% 100%; /* white */
			--h3: 0 0% 100%; /* white */
			--h4: 0 0% 100%; /* white */
			--h5: 240 5% 64.9%; /* zinc-400 */
			--h6: 0 0% 100%; /* white */
			--p: 240 4.9% 83.9%; /* zinc-300 */
			--b: 0 0% 100%; /* white */
			--a: 0 0% 100%; /* white */
			--a-hover: 0 0% 100%; /* white */
			--a-decoration-color: var(--primary-text);
			--a-decoration-color-hover: var(--primary-text);
			--link: 0 0% 100%; /* white */
			--link-hover: 0 0% 100%; /* white */
			--link-decoration-color: var(--primary-text);
			--link-decoration-color-hover: var(--primary-text);
			--link-header: 240 5% 64.9%; /* zinc-400 */
			--link-header-hover: 0 0% 100%; /* white */
			--link-header-decoration-color: var(--primary-text);
			--link-header-decoration-color-hover: var(--primary-text);
			--link-footer: 240 5% 64.9%; /* zinc-400 */
			--link-footer-hover: 0 0% 100%; /* white */
			--link-footer-decoration-color: transparent;
			--link-footer-decoration-color-hover: var(--primary-text);
			--small: 240 5% 64.9%; /* zinc-400 */
			--caption: 240 5% 64.9%; /* zinc-400 */
			--label: 240 5% 64.9%; /* zinc-400 */
			--counter: 240 5% 64.9%; /* zinc-400 */
			--bullet: 240 5% 64.9%; /* zinc-400 */
			--quote: 240 4.8% 95.9%; /* zinc-100 */
			--quote-border: 240 5.3% 26.1%; /* zinc-700 */
			--kbd-bg: var(--bg2);
			--kbd-text: 0 0% 100%; /* white */
			--kbd-border: var(--bg3);
			--pre-text: 0 0% 100%; /* white */
			--pre-bg: var(--bg1);
			--pre-border: var(--bg2);
			--code-bg: var(--bg3);
			--code-text: 0 0% 100%; /* white */
			--code-border: transparent;
		}
	}

	/* User toggles dark theme */
	[data-theme="dark"] {
		color-scheme: dark;
		--bg1: 240 5.9% 10%; /* zinc-900 */
		--bg2: 240 3.7% 15.9%; /* zinc-800 */
		--bg3: 240 5.3% 26.1%; /* zinc-700 */
		--badge-text: var(--button-inverse);
		--badge-bg: var(--button);
		--badge-border: transparent;
		--button: 240 5.2% 33.9%; /* zinc-600 */
		--button-hover: 240 4% 40%; /* zinc-550 (custom) */
		--button-focus: 240 4% 40%; /* zinc-550 (custom) */
		--button-inverse: 0 0% 98%; /* zinc-50 */
		--button-inverse-hover: 0 0% 98%; /* zinc-50 */
		--button-inverse-focus: 0 0% 98%; /* zinc-50 */
		--button-border: transparent;
		--button-border-hover: transparent;
		--button-border-focus: transparent;
		--callout-text: 240 4.9% 83.9%; /* zinc-300 */
		--callout-bg: var(--bg1);
		--callout-border: var(--bg2);
		--chip: 240 3.8% 46.1%; /* zinc-500 */
		--chip-text: var(--text-soft);
		--contrast: 0 0% 98%; /* zinc-50 */
		--contrast-hover: 240 4.8% 95.9%; /* zinc-100 */
		--contrast-focus: 240 5.9% 90%; /* zinc-200 */
		--contrast-inverse: 0 0% 0%; /* black */
		--contrast-inverse-hover: 0 0% 0%; /* black */
		--contrast-inverse-focus: 0 0% 0%; /* black */
		--danger: 0 93.5% 81.8%; /* red-300 */
		--danger-hover: 0 92% 76%; /* red-350 (custom) */
		--danger-focus: 0 90.6% 70.8%; /* red-400 */
		--danger-inverse: 0 62.8% 30.6%; /* red-900 */
		--danger-inverse-hover: 0 62.8% 30.6%; /* red-900 */
		--danger-inverse-focus: 0 62.8% 30.6%; /* red-900 */
		--danger-text: 0 93.5% 81.8%; /* red-300 */
		--divider: 240 5.3% 26.1%; /* zinc-700 */
		--dropdown: 240 5.3% 26.1%; /* zinc-700 */
		--dropdown-border: 240 5.3% 26.1%; /* zinc-700 */
		--dropdown-divider: 240 3.8% 46.1%; /* zinc-500 */
		--dropdown-option-hover: 240 5.2% 33.9%; /* zinc-600 */
		--dropdown-option-focus: 240 3.8% 46.1%; /* zinc-500 */
		--dropdown-option-group: var(--text-faint);
		--dropdown-option-text: var(--text-solid);
		--dropdown-option-text-hover: var(--text-solid-link);
		--dropdown-option-text-focus: var(--text-solid-link-hover);
		--dropdown-option-trailing-symbol: var(--text-faint);
		--focus-outline: 240 5% 30%; /* zinc-650 (custom) */
		--input: 240 5.2% 33.9%; /* zinc-600 */
		--input-hover: 240 4% 40%; /* zinc-550 (custom) */
		--input-focus: 240 4% 40%; /* zinc-550 (custom) */
		--input-placeholder: var(--text-faint);
		--input-value: 0 0% 98%; /* zinc-50 */
		--input-border: transparent;
		--input-border-hover: transparent;
		--input-border-focus: transparent;
		--modal: 240 5.3% 26.1%; /* zinc-700 */
		--modal-divider: 240 5.2% 33.9%; /* zinc-600 */
		--page: 240 10% 3.9%; /* zinc-950 */
		--primary: 142 77% 73%; /* green-300 */
		--primary-hover: 141.9 69.2% 58%; /* green-400 */
		--primary-focus: 158.1 64.4% 51.6%; /* emerald-400 */
		--primary-inverse: 142.8 64.2% 24.1%; /* green-800 */
		--primary-inverse-hover: 143.8 61.2% 20.2%; /* green-900 */
		--primary-inverse-focus: 143.8 61.2% 20.2%; /* green-900 */
		--primary-text: 142 77% 73%; /* green-300 */
		--secondary: 52.8 98.3% 76.9%; /* yellow-200 */
		--secondary-hover: 50.4 97.8% 63.5%; /* yellow-300 */
		--secondary-focus: 47.9 95.8% 53.1%; /* yellow-400 */
		--secondary-inverse: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-inverse-hover: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-inverse-focus: 28.4 72.5% 25.7%; /* yellow-900 */
		--secondary-text: 50.4 97.8% 63.5%; /* yellow-300 */
		--switch-off: 240 5.2% 33.9%; /* zinc-600 */
		--switch-off-hover: 240 4% 40%; /* zinc-550 (custom) */
		--switch-off-focus: 240 4% 40%; /* zinc-550 (custom) */
		--switch-on: var(--primary);
		--switch-on-hover: var(--primary-hover);
		--switch-on-focus: var(--primary-focus);
		--switch-border: transparent;
		--switch-border-hover: transparent;
		--switch-border-focus: transparent;
		--switch-marker-off: 240 5.9% 90%; /* zinc-200 */
		--switch-marker-off-hover: 240 5.9% 90%; /* zinc-200 */
		--switch-marker-off-focus: 240 5.9% 90%; /* zinc-200 */
		--switch-marker-on: 0 0% 100%; /* white */
		--switch-marker-on-hover: 0 0% 100%; /* white */
		--switch-marker-on-focus: 0 0% 100%; /* white */
		--table: transparent;
		--table-border: var(--divider);
		--table-header-text: 240 5% 64.9%; /* zinc-400 */
		--table-header-row: var(--bg1);
		--table-header-divider: var(--divider);
		--table-header: var(--bg1);
		--table-row-even: transparent;
		--table-row-odd: transparent;
		--table-row-divider: var(--divider);
		--table-text: 0 0% 100%; /* white */;
		--text-solid: 0 0% 98%; /* zinc-50 */
		--text-solid-link: 240 4.9% 83.9%; /* zinc-300 */
		--text-solid-link-hover: 0 0% 100%; /* white */
		--text-soft: 240 4.9% 83.9%; /* zinc-300 */
		--text-soft-link: 0 0% 98%; /* zinc-50 */
		--text-soft-link-hover: 0 0% 100%; /* white */
		--text-faint: 240 5% 64.9%; /* zinc-400 */
		--text-faint-link: 240 5.9% 90%; /* zinc-200 */
		--text-faint-link-hover: 0 0% 98%; /* zinc-50 */
		--tooltip: var(--bg3);

		/* Text Colors */
		--h1: 0 0% 100%; /* white */
		--h2: 0 0% 100%; /* white */
		--h3: 0 0% 100%; /* white */
		--h4: 0 0% 100%; /* white */
		--h5: 240 5% 64.9%; /* zinc-400 */
		--h6: 0 0% 100%; /* white */
		--p: 240 4.9% 83.9%; /* zinc-300 */
		--b: 0 0% 100%; /* white */
		--a: 0 0% 100%; /* white */
		--a-hover: 0 0% 100%; /* white */
		--a-decoration-color: var(--primary-text);
		--a-decoration-color-hover: var(--primary-text);
		--link: 0 0% 100%; /* white */
		--link-hover: 0 0% 100%; /* white */
		--link-decoration-color: var(--primary-text);
		--link-decoration-color-hover: var(--primary-text);
		--link-header: 240 5% 64.9%; /* zinc-400 */
		--link-header-hover: 0 0% 100%; /* white */
		--link-header-decoration-color: var(--primary-text);
		--link-header-decoration-color-hover: var(--primary-text);
		--link-footer: 240 5% 64.9%; /* zinc-400 */
		--link-footer-hover: 0 0% 100%; /* white */
		--link-footer-decoration-color: transparent;
		--link-footer-decoration-color-hover: var(--primary-text);
		--small: 240 5% 64.9%; /* zinc-400 */
		--caption: 240 5% 64.9%; /* zinc-400 */
		--label: 240 5% 64.9%; /* zinc-400 */
		--counter: 240 5% 64.9%; /* zinc-400 */
		--bullet: 240 5% 64.9%; /* zinc-400 */
		--quote: 240 4.8% 95.9%; /* zinc-100 */
		--quote-border: 240 5.3% 26.1%; /* zinc-700 */
		--kbd-bg: var(--bg2);
		--kbd-text: 0 0% 100%; /* white */
		--kbd-border: var(--bg3);
		--pre-text: 0 0% 100%; /* white */
		--pre-bg: var(--bg1);
		--pre-border: var(--bg2);
		--code-bg: var(--bg3);
		--code-text: 0 0% 100%; /* white */
		--code-border: transparent;
	}
}