<template x-component.unwrap="footer">

    <footer class="px-page border-t border-divider">

        <!-- Upper Content -->
        <nav class="flex flex-wrap justify-between w-page max-w-full m-auto page:border-x border-divider">

            <!-- Left Side -->
            <div class="flex flex-col gap-lg max-w-full">

                <!-- Logo -->
                <a href="/" target="_top" class="flex items-center gap-sm !font-extrabold text-solid" aria-label="Home">
                    <x-logo class="h-lg fill-primary-text hover:fill-solid-link-hover"></x-logo>
                </a>

                <!-- Description -->
                <small>Smarter ways to import/export.</small>

            </div>
            <!-- End Left Side -->

            <!-- Right Side -->
            <div class="flex gap-xl max-w-full pb-xl">

                <div class="flex flex-col gap-xs">
                    <h4>Product</h4>
                    <a href="#_">Product</a>
                    <a href="#_">Pricing</a>
                    <a href="#_">Features</a>
                </div>

                <div class="flex flex-col gap-xs">
                    <h4>Resources</h4>
                    <a href="#_">Docs</a>
                    <a href="#_">Videos</a>
                    <a href="#_">Support</a>
                </div>

                <div class="flex flex-col gap-xs">
                    <h4>Company</h4>
                    <a href="#_">About</a>
                    <a href="#_">Jobs</a>
                    <a href="#_">Contact</a>
                </div>

            </div>
            <!-- End Right Side -->

        </nav>
        <!-- End Upper Content -->

        <!-- Lower Content -->
        <nav class="flex flex-wrap justify-between gap-xl w-page max-w-full m-auto py-md border-t border-divider">

            <!-- Copyright -->
            <figcaption>&copy; Universal Exports Ltd. All rights reserved.</figcaption>

            <!-- Legal -->
            <figcaption class="flex flex-wrap gap-sm">
                <a href="terms">Terms</a>
                <a href="privacy">Privacy</a>
                <a href="#_"><span class="iconify" data-icon="ph:github-logo-fill"></span></a>
                <a href="#_"><span class="iconify" data-icon="ph:youtube-logo-fill"></span></a>
                <a href="#_"><span class="iconify" data-icon="ph:instagram-logo-fill"></span></a>
                <a href="#_"><span class="iconify" data-icon="ph:discord-logo"></span></a>
            </figcaption>

        </nav>
        <!-- End Lower Content -->

    </footer>
    <!-- Gridded Footer -->

</template>