<template x-component.unwrap="header">

<header class="border-b border-divider">

    <!-- Content -->
    <nav class="flex justify-between items-center gap-lg w-page max-w-full py-lg">
        
        <!-- Logo -->
        <x-logo class="h-lg fill-link"></x-logo>

        <!-- Color Theme -->
        <button data-toggle-theme="dark,light">
        <!-- <button data-toggle-theme="dark,light" x-data x-init="themeChange(false)"> -->
            <span class="iconify" data-icon="ph:sun"></span>
        </button>

    </nav>

</header>

</template>
