<!-- This component applies your logo content to headers, footers, and various templates. -->
<!-- Define logo content in /cms/general.json > logo. -->
<!-- Alternatively, replace the nested template tags below with a fixed logo. -->

<template x-component.unwrap="logo">

    <div class="flex flex-row flex-nowrap items-center gap-xs">

        <!-- Logo Image -->
        <template x-if="cms.general.logo.image && cms.general.logo.image !== ''">
            <img :class="cms.general.logo.imageStyle" :src="cms.general.logo.image" :alt="cms.general.logo.text + ' logo'">
        </template>    

        <!-- Logo SVG -->
        <template x-if="cms.general.logo.svg">
            <x-logo-svg :class="cms.general.logo.svgStyle" ></x-logo-svg>
        </template>

        <!-- Logo Icon -->
        <template x-if="cms.general.logo.icon">
            <span class="iconify" :class="cms.general.logo.iconStyle" :data-icon="cms.general.logo.icon"></span>
        </template>

        <!-- Logo Text -->
        <template x-if="cms.general.logo.text">
            <span :class="cms.general.logo.textStyle" x-text="cms.general.logo.text"></span>
        </template>

    </div>

</template>
