<template x-component.unwrap="logo">

<a href="/" aria-label="Home" class="flex items-center space-x-2">
    <template x-if="cms.general.logoImage">
        <img :src="cms.general.logoImage" alt="Logo" class="h-lg">
    </template>
    <template x-if="cms.general.logoSVG">
        <x-logo-svg class="h-lg fill-link"></x-logo-svg>
    </template>
    <template x-if="cms.general.logoIcon">
        <span class="iconify text-xl" :class="cms.general.logoIconStyle" :data-icon="cms.general.logoIcon"></span>
    </template>
    <template x-if="cms.general.logoName">
        <span class="text-solid text-xl font-black" :class="cms.general.logoNameStyle" x-text="cms.general.logoName"></span>
    </template>
</a>

</template>